body{
  margin: 0;
}

.section-header{
  width: 100%;
  background-color: rgb(246, 245, 239);
  height: 120px;
}

.inner-header{
  width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-left: 15px;
}

.logo{
  width: 75px;
  height: 75px;
}

.space-nav{
}

.space-nav li{
  display: inline-block;
}

.top-nav{
  height: 45px;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
}

.bottom-nav{
  display: flex;
  justify-content: flex-end;
}

.top-nav a{
  color: black;
  text-decoration: none;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  border-right: 1px solid lightgrey;
}

.top-nav a:hover{
  text-decoration: underline;
}

.top-nav li button{
  background-color: white;
  padding: 5px;
  border: 0.2px solid lightgrey;
  border-radius: 3px;
  font-size: 18px;
  width: 33px;
}

.bottom-nav a{
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
}

.bottom-nav a:hover{
  text-decoration: underline;
  color: green;
}